# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built application
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# VS Code settings
.vscode/
